.parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 4; }
.div2 { grid-area: 2 / 1 / 5 / 2; }
.div3 { grid-area: 2 / 2 / 5 / 4; }
.div4 { grid-area: 5 / 1 / 6 / 4; }

.div1, .div4 {
    background-color: darkgrey;
}
.div2 {
    background-color: grey;
}
.div3 {
    background-color: blanchedalmond;
}