<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artistes</title>
</head>
<body>
    <h1>Liste des artistes</h1>
    {{ range . }}
		<div style="margin-bottom: 20px;">
			<h2>{{ .Name }}</h2>
            <img src="{{ .Image }}" alt="Image de {{ .Name }}" width="200">
			<p><strong>ID :</strong> {{ .ID }}</p>
			<p><strong>Création :</strong> {{ .CreationDate }}</p>
			<p><strong>Premier album :</strong> {{ .FirstAlbum }}</p>

			<p><strong>Membres :</strong></p>
			<ul>
				{{ range .Members }}
					<li>{{ . }}</li>
				{{ end }}
			</ul>
		</div>
		<hr>
	{{ end }}
</body>
</html>